{% extends 'base.html' %}

{% block content %}
<div class="container">

    <table class="mt-2 table">
        <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Email</th>
            <th scope="col">Login</th>
            <th scope="col">Дата последнего входа</th>
        </tr>
        </thead>
        <tbody>
        {% for i in users_list %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.surname}}</td>
            <td>{{i.email}}</td>
            <td>{{i.username}}</td>
            <th>{{i.last_login_time}}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <form action="/generate_invite_code" method="post">
        <button type="submit" class="btn btn-outline-secondary">Сгенерировать код приглашения</button>
    </form>
    <h2 class="display-4 ">{{message}}</h2>
</div>
{% endblock %}